.content{
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1rem;
  align-items: center;
  gap: 1rem;
}

.form-contacto{
  width: min-content;
  border: 2px solid #333c;
  border-radius: 1rem;
  background-color: #ccc3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-contacto > div{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.form-contacto input[type="text"],
.form-contacto input[type="email"],
.form-contacto textarea{
  background-color: #333c;
  border-radius: .5rem;
  border: none;
  padding: .2rem 0;
  color: #ccc;
}

.form-contacto input[type="submit"]{
  color: #ccc;
  background-color: #333c;
  border-radius: .5rem;
  width: min-content;
  padding: .2rem .5rem;
  border: none;
  align-self: center;
}