.content{
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1rem;
  align-items: center;
  gap: 1rem;
}

.form-login{
  width: max-content;
  border: 2px solid #333c;
  border-radius: 1rem;
  background-color: #ccc3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-login__button-submit{
  color: #ccc;
  background-color: #333c;
  border-radius: .5rem;
  width: min-content;
  padding: .2rem .5rem;
  border: none;
  align-self: center;
}

.form-login input[type="text"],
.form-login input[type="password"]{
  background-color: #333c;
  border-radius: .5rem;
  border: none;
  padding: .2rem 0;
  color: #ccc;
}

.form-login .helptext{
  /*display: none;*/
}

.errorlist{
  color: #c00;
}

.form-login__messages{
  color: #c00;
}